
legend {
  text-align: center;
  text-transform: uppercase;
  color: #94C9A9;
  padding: 5;
}

.intro
{
    text-align: center;
}

.tabs .tab a {
  color: #4F759B;
}

.deep-orange.lighten-2 {
  background-color: #777DA7 !important;
}

fieldset {
  border: none;
  border-top: 2px dotted #94C9A9;
  padding: 0;

}


